<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # Redirect requests under /api/ to /api/public/ while preserving the rest of the URL
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
